.Bookingcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100vh;
  min-width: 80vw;
  margin: 10rem;
  
}

#bookingForm {
  text-align: left;
  border: 3px solid #495e57cc;
  background: #eee5e5ce;
  min-height: 560px;
  border-radius: 100px;
  box-shadow: 0 9px 50px hsla(20, 48%, 81%, 0.651);
  padding: 4%;
  margin-bottom: 10px;
}

h1 {
  margin: 20px;
  font-size: 40px;
  color: #14140fce;
}

.information {
  margin: 3%;
}

/* Style labels */
label {
  font-weight: bold;
  margin: 4px;
  padding: 5px;
  font-size: 20px;
}

/* Style input fields */
#name,
#email,
input[type="date"],
input[type="number"],
select {
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 20px;
	margin: 2px;
	outline: 0;
	padding: 10px;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #d4d6d636;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 4px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}

#btn {
  justify-content: center;
  padding: 5%;
  background-color: #495e57;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
}

#btn:hover {
  background-color: #5c6b66;
} 

  @media (max-width: 768px) {
    .container {
      background-size: contain; /* Adjust background image for smaller screens */
    }
  
    form {
      width: 90%; /* Make the form width responsive */
      margin: 0 auto; /* Center the form horizontally */
    }
  
    h1 {
      font-size: 30px; /* Reduce font size for smaller screens */
    }
  }