.Bookingcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/food-366875_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width:100vh;
  min-width: 80vw;
  margin: 10rem;
  
}

#bookingForm {
  text-align: left;
  border: 3px solid #495e57cc;
  background: #fafaf8ce;
  width: 80%;
  min-height: 560px;
  border-radius: 5px;
  box-shadow: 0 9px 50px hsla(20, 48%, 81%, 0.651);
  padding: 4%;
  margin-bottom: 10px;
}

h1 {
  margin: 20px;
  font-size: 40px;
  color: #fafaf8ce;
}

.infor {
  margin: 3%;
}

/* Style labels */
label {
  font-weight: bold;
  margin: 5px;
  font-size: 20px;
}

/* Style input fields */
#name,
#email,
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}

#btn {
  justify-content: center;
  padding: 5%;
  background-color: #495e57;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

#btn:hover {
  background-color: #5c6b66;
}

  @media (max-width: 768px) {
    .container {
      background-size: contain; /* Adjust background image for smaller screens */
    }
  
    form {
      width: 90%; /* Make the form width responsive */
      margin: 0 auto; /* Center the form horizontally */
    }
  
    h1 {
      font-size: 30px; /* Reduce font size for smaller screens */
    }
  }